services:
  web:
    env_file:
      - ./.env
    environment:
      DB_HOST: db
    build: .
    command: >
      bash -c "./start-django-in-docker.sh"
    volumes:
      - static_volume:/app/static
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16.0
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5
networks:
  default:

volumes:
  postgres_data:
    driver: local
  static_volume:
    driver: local
