services:
  nginx:
    image: nginx:latest
    ports:
      - "127.0.0.1:8000:80"
    volumes:
      - ./docker:/etc/nginx/conf.d
      - bundle_blog:/usr/share/nginx/www/blog
      - bundle_portal:/usr/share/nginx/www/portal
    restart: always
    depends_on:
      - backend

  backend:
    env_file:
      - ./.env
    environment:
      DB_HOST: db
    build: .
    command: >
      bash -c "./start-django-in-docker.sh"
    volumes:
      - bundle_blog:/app/blog_static
      - bundle_portal:/app/portal_static
    expose:
      - "8000"
    depends_on:
       - db
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .git/
            - .github/
            - static/
            - migrate.sh
            - freeze.sh

  db:
    image: postgres:16.0
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  default:

volumes:
  postgres_data:
    driver: local
  bundle:
    driver: local
