{% extends 'index.pug' %}

{% block title %}User login{% endblock %}

{% block content %}
h1 login
div
    q-input(v-model="user.email" label="email")
    q-input(v-model="user.password" label="password")
    q-btn(@click="login()") Login


{% endblock %}